<!DOCTYPE html>
<div style="text-align:center;">
<title>Baseball Stadium Tracker</title>
<h1>Welcome Back To Baseball Stadium Tracker</h1>
<h2>Login to Baseball Stadium Tracker</h2>

<form action="/login" method="post">

<input type="text" id="username" name="username" placeholder="Username" required /><br/>

<input type="text" id="password" name="password" placeholder="Password" required /><br/>

<input type="submit" value="Submit">
</form>
</br>
</br>
</br>
Don't Have An Account Yet? <a href="/signup">Sign Up</a>
</div>

</html>
