<!DOCTYPE html>
<div style="text-align:center;">

<h1>All The Stadiums That You've Visited</h1>
<% @stadiums = Stadium.all %>
<% @stadiums.each do |stadium| %>
<h2><a href="/stadiums/<%= stadium.id %>"><%=stadium.name %> - <%=stadium.team%></a></h2>

<% end %>

<a href="/stadiums/new">Add New Stadium</a>
</div>
