<!DOCTYPE html>
<div style="text-align:center;">

<h1>Which new stadium have you visited?</h1>

<h2>Add A New Stadium</h2>

<br>
<form action="/stadiums" method="POST">
  <input type="text" name="name" id="name" placeholder="Name"/><br/>
  <input type="text" name="team" id="team" placeholder="Team"/><br/>
  <input type="text" name="city" id="city" placeholder="City"/><br/>
  <br><br>
  <input type="submit" value="Add Stadium">
</form>
<div>
