<h1><%= @stadium.name %> - <%= @stadium.team %></h1>
<h2></h2>

<a href="/stadiums">See All The Stadiums You've Visited</a>
<br><br>
<a href="/stadiums/<%=@stadium.id%>/edit">Edit</a>
<br><br>
<a href="/stadiums/<%=@stadium.id%>/delete">Delete</a>
<br><br>
<a href="/logout">Log Out</a>
